<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>jpz_triplebanner</name>
    <displayName><![CDATA[Triple Banner]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Aggiunge tre banner personalizzabili alla homepage con immagine, testo e link a categoria.]]></description>
    <author><![CDATA[Jacopo Zane]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
